- single_content_for :title do
  = link_to full_name(@current_user), user_path(@current_user)
  = " a crée l'événénement " 
  = link_to activity.trackable.name, event_path(activity.trackable)

- single_content_for  :content do
  = render 'events/cover', event: activity.trackable, media: [], settings: false