@import "compass";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/selection";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


// ----------------------------------------------------
// -- Variables for studio
// ----------------------------------------------------

$nav-background: 				#0A0A0A;
$nav-height: 					70px;
$nav-color: 					#666666;
$nav-li-hover-color: 			white;
$nav-logo-background: 			#921c0c;
$nav-logo-hover-background: 	shade($nav-logo-background, 20%);
$nav-avatar-height-responsive: 	100px;

$height-background: 			400px;
//$body-background:				#222222;
$body-background:				white;
$text-color:					black;

$table-delimiter:				shade($body-background, 30%);

$small-item-size:				10vw;
$small-item-margin:				4px;
$button-settings-height: 		30px;
$big-item-size:					1.3 * $small-item-size;
$big-item-margin:  				$small-item-margin;

$cover-height:					300px;

$footer-height: 				100px;
$container-margin-top: 			50px;

$card-media-background:			#2ECC71;
$card-events-background:		#EB9532;
$card-types-background:			#3498DB;
$card-users-background:			#936663;
$card-uploads-background:		#333;
$card-reports-background:		#34495e;
$value-shaden: 					20%;

/*
// ----------------------------------------------------
// -- Variables of Uikit
// ----------------------------------------------------

$form-focus-background:			white;
$form-color:					black;
$form-focus-color:				black;


$button-color:					white;
$button-hover-color: 			white;
$button-active-color: 			white;

$breakpoint: 850px;*/


// ----------------------------------------------------
// -- Images of the public side
// ----------------------------------------------------

#heart {
	color: $nav-logo-background;
}

#studio .illustration {
	background: url("/images/lens.jpeg") top fixed;
	background-size: cover;
}

#works .illustration {
	background: url("/images/spiral-film.jpeg") top fixed;
	background-size: cover;
}

#about .illustration {
	background: url("/images/film-projector.jpg") top fixed;
	background-size: cover;
}

.invisible {
	visibility: hidden;
}

// ----------------------------------------------------
// -- "Nothing to show" images
// ----------------------------------------------------

#nothing1 {
	background: url("/images/nothing1.gif") top fixed;
	background-size: cover;
}

#nothing2 {
	background: url("/images/nothing2.gif") top fixed;
	background-size: cover;
}

#nothing3 {
	background: url("/images/nothing3.gif") top fixed;
	background-size: cover;
}

#nothing4 {
	background: url("/images/nothing4.gif") top fixed;
	background-size: cover;
}


#app {}


/**
	----------------------------------
	Here, we modify default style of elements
	----------------------------------
*/


body {
	min-height: 100%;
	height: auto;
	min-width: 100%;
	min-width: 100vh;
	width: 100%;
	padding-bottom: $footer-height;


	position: absolute;
}

html *, body {
	font-family: 'Lato', sans-serif !important;
	@include selection(rgba($nav-logo-background, 0.8), white);
}

h2, h3 {
	width: 80%;
	margin: auto auto;
	padding: 20px 0;
	text-align: center;
}

h3 {
	font-weight: 200;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	cursor: pointer;
}

a, a:hover {
	color: $nav-logo-background;
}


// Hot fix
#about p:before {
	@include skewY(-1.5deg);
}

#container-studio, .container-fluid, #container-admin {
	padding: 0;
	float: left;
	background-color: transparent;
	width: 100%;
	padding-bottom: 50px;
}

#container-admin {
	padding-bottom: 0;
}


#container-admin {
	color: black;
	width: 60%;
	margin-left: 20%;
}

.container-fluid {
	background-color: $body-background; 
}

.darker{
	background-color: tint(black, 13%);
}

.darker #container-studio {
	color: white;
}

form .button {
	text-align: center;	
}

table a {
	color: $nav-logo-background;
	@include transition-duration(0.2s);

	&:hover {
		@include transition-duration(0.3s);
		color: $nav-logo-hover-background;
	}
}

.form-control:focus {
	border-color: tint($nav-logo-background, 25%);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: inherit;
}

.alert {
	position: fixed;
	width: 600px;
	right: 20px;
	//bottom: $footer-height + 20px;
	top: $nav-height + 20px;
	z-index: 60;
}