.medium {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.admin-medium {
	display: block;
	width: 60%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 30px;
}


.table-medium {
	max-width: 250px;
}