@import "configuration";
$avatar-width: 200px;

.profile {
	margin-top: $container-margin-top;
	width: 100%;
	text-align: center;
}

.profile form {
	text-align: left;
}


.profile-picture {
	display: block;
	width: $avatar-width;
	height: $avatar-width;
	margin: 0 auto;
	border:2px solid $nav-logo-background;
	border-radius: 50%;
	z-index: 15;
	@include box-sizing(border-box);

	img {
		display: block;
		height: $avatar-width - 4px;
		width: $avatar-width - 4px;
		margin: 0 auto;
		object-fit: cover;
		border-radius: 50%;
	}

	margin-bottom: 10px;
}

.profile-about {
	font-weight: 200;
	line-height: 1;
}
.profile-about p:first-child {  font-size: 2.2em; margin-bottom: 0;  }

.profile-about p:nth-child(2), .profile-about p:nth-child(3) {
	font-style: italic;
	margin-top: 0;
	font-size: 1.6em;
	margin-bottom: 0;
}

.profile-about p:nth-child(3) {
	margin-top: 5px;
	font-style: normal;
}