@media screen and (max-width: 1500px) {

  table .table-medium {
    width: auto;
    height: 100px;
  }
  #container-admin {  width: 80%;  }

}

@media screen and (max-width: 1000px) {

  #table-media .useless-column, #table-media .useless-column {
    display: none;
  }

}

@media screen and (max-width: 700px) {
  #container-admin {  width: 90%;  }
  table.responsive-table .useless-column, table .useless-column {
    display: none;
  }

  .button-admin {
    bottom: 15px;
  }

  .button-admin .icon {
    width: 20px;
    height: 20px;
  }
  .button-admin p { display: none; }

  .progress-bar-container .progress-bar-content p {
    font-size: 6em;
  }

  .section-admin { padding: 10px; }
}


@media screen and (max-width: 550px) {

  .cards {
    flex-direction: column;
  }

  table .table-medium {
    width: 30px;
    height: 30px;
  }

  .card {
    width: 100%;
  }

}
