@media screen and (max-width: 1750px) {
  .mosaic .public-container .description span.title {  font-size: 3em; }
}

@media screen and (max-width: 1050px) {

  section {  padding: 0 5%;  }

  .mosaic {
    padding: 0;
  }

  .public-container {
    margin-bottom: $section-margin / 1.5;
  }

  .mosaic .public-container {
    padding: 0 5%;
    margin-bottom: $section-margin / 1.5;
  }



  .public-container:last-child {
  	margin-bottom: 0;
  }

  div .illustration svg {
    height: 50%;
    width: 90%;
  }

}


@media screen and (max-width: 670px) {
  .mosaic .description {
    width: 100%;
  }

  #studio .description .illustration img {
    position: default;
    height: 100%;
  }


  .mosaic .description .illustration {
    height: $section-height - 100px;
  }


  .mosaic .public-container .description span.title {  font-size: 3em; }


  .public-container .description .illustration {
    background-attachment: scroll !important;
  }

  .mosaic .public-container {
    display: inline-block;
    padding: 0;
  }

  .mosaic .public-container:nth-child(even) .description,
  .mosaic .public-container .description,
  .mosaic .public-container section,
  .mosaic .public-container:nth-child(even) section {
    width: 100%;
    padding: 0;
  }

  .mosaic .public-container section {
    margin-top: $padding-mosaic;
    padding: 0 5% !important;
  }

}

@media screen and (max-width: 500px) {}
