- if @types.empty?
  = render 'partials/nothing'

-else

  %div.grid.big-items
    - @types.each do |type|
      = link_to type_path(type), :class => "item" do
        = image_tag(url_thumbnail(random_media(type)))
        %div.item-infos
          %p.item-name
            = type.name