%footer.footer
  %div.container
    %div.row
      %div.col.s12.l6
        Fait par Nicolas Kirchner, Patou la truelle et Yann Prono <strong id="heart">♥</strong>
      %div.col.s12.l6.center-align
        = link_to 'Charte de truc', ''
        = link_to 'Charte de truc', ''
