%footer.footer
  %div.container
    %div.row
      %div.col.s12.l6
        Fait par <a href="https://github.com/kompass" target="_blank">Nicolas Kirchner</a>, <a href="https://github.com/Quentin-Bruel" target="_blank">Qentin Bruel</a> et <a href="https://github.com/Mcdostone" target="_blank">Yann Prono</a> <strong id="heart">♥</strong>
      %div.col.s12.l6.center-align
        = link_to 'Charte de truc', ''
        = link_to 'Charte de truc', ''
