%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'}
%title StudioWebsite
%meta{:name => 'theme-color', :content => "#505050"}
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag *webpack_asset_paths('application')  
= csrf_meta_tags
