- users.each do |user|
  = link_to user_path(user) do
    %div.item
      = image_tag(url_picture_profile(user, 300))
      %div.item-overlay
        %div.item-infos
          %p.item-name
            = get_full_name(user)