%navbar
  %ul.nav-left
    %li#navbar-logo
      = image_tag("logo_studio.png")
    %li Studio
    %li Réalisations
    %li À propos
  %ul.nav-right
    - if current_user
      %li= current_user.name
      %li= link_to "Déconnexion", signout_path, id: "sign_out"     
    - else
      %li= link_to "Se connecter", "/auth/google_oauth2", id: "sign_in"