%div.profile-picture
  = image_tag(url_picture_profile(user, 200))

%div.profile-about
  %p
    = full_name(user)
  - if current_user.nickname
    %p
      = '@' + user.nickname
  - if current_user.admin?
    %p
      = '(' + user.authorization.name + ')'