%h2 Profil

%div.profile

  %div.profile-picture
    = image_tag(url_picture_profile(@user, 200))
  
  %div.profile-about
    %p
      = @user.first_name + ' ' + @user.last_name
    %p
      = '@' + @user.nickname