- if @filtered_media.empty?
  = render 'partials/nothing'
- else
  %div#container-studio
    = render 'events/cover', event: @event, media: @filtered_media, settings: true
    = render 'partials/media', media: @filtered_media
