= content_for :js do
  = javascript_include_tag *webpack_asset_paths('init-lazy-loading')

%div.section-admin
  %h2 Liste des Médias

  = link_to 'Importer des médias', new_admin_upload_path, class: 'waves-effect waves-light btn'

  %table-media
