- if @filtered_media.empty?
  = render 'partials/nothing'
- else
  %div#container-studio
    = render 'albums/cover', album: @album, media: @filtered_media, settings: true
    = render 'partials/media', media: @filtered_media
