- if model.errors.any?

  %div.card-panel.errors.yellow.darken-4.left-align.white-text
    %h5
      = "Hey petit guacamole, il y a " + pluralize(model.errors.count, "erreur")+ ":"
    %div.row
      %div.col.white-text
        %ul
          - model.errors.full_messages.each do |msg|
            %li
              = '- ' + msg
