%h2 Petit conseil de Patou la Truelle !

%p
  Afin d'upload de nouveaux médias, ce serait mieux de créer
  %strong au moins 1 album et 1 type !

= link_to 'Nouvel album', new_admin_album_path, class: 'waves-effect waves-light btn'
= link_to 'Nouveau Type', new_admin_type_path, class: 'waves-effect waves-light btn'

%br
%br
