%div#google-drive-picker

- if current_user
	:javascript
		let email = '#{current_user.email}'
	= javascript_include_tag 'google-drive-picker', 'data-turbolinks-track' => true
	= javascript_include_tag 'https://apis.google.com/js/api.js?onload=onApiLoad', 'data-turbolinks-track' => true