.activity {
	display: inline-block;
	margin-top: 20px;
	width: 50%;
	margin-left: 25%;
	background-color: white;	
}


.activity .profile {
	margin: 0;
	margin-left: 5px;
	width: auto;
	float: left;
}

.activity .profile .nav-profile-avatar {
	margin: 0;
}

.activity .profile .nav-profile-avatar img {
	opacity: 1;
}

.activity-title {
	float: left;
	margin: 0;
	padding: 0;
}

.activity .activity-desc {
	display: inline-block;
	float: left;
	font-size: 1em;
	color: white;
	height: 70px;
	width: 100%;
	color: black;
	line-height: 70px;
	border-bottom: 1px solid rgba(gray, 0.3);
}


.activity .activity-content {
	display: inline-block;
	float: left;
	width: 100%;
}

.activity .grid {
	padding: 0;
}
.activity .item {
	width: 146px;
	height: 146px;
}