@import "compass";
@import "font-awesome";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/selection";
@import "compass/reset/utilities";

//@include global-reset();
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

// ----------------------------------------------------
// -- Variables for studio
// ----------------------------------------------------
$text-color-shade: 					shade(white, 40%);

$nav-height: 								65px;
$nav-size: 									1.1em;
$nav-item-padding: 					15px;

$section-height: 						300px;
$small-item-size:						10vw;
$small-item-margin:					4px;
$big-item-size:							1.3 * $small-item-size;
$big-item-margin:  					$small-item-margin;

$cover-height:							400px;
$card-height: 							90px;

$card-media-background:			#2ECC71;
$card-events-background:		#EB9532;
$card-types-background:			#3498DB;
$card-users-background:			#936663;
$card-uploads-background:		#333;
$card-reports-background:		#34495e;
$card-tags-background:			#e52d27;
$value-shaden: 							20%;
$overlay:										rgba(0, 0, 0, 0.5);
$overlay-media:							rgba(0, 0, 0, 0.7);

$button-settings-height:		30px;
$footer-height: 						100px;


$primary-color: 				color("materialize-red", "lighten-2") !default;
$primary-color-light: 	false !default;
$primary-color-dark: 		false !default;

$secondary-color: 			color("teal", "lighten-1") !default;
$success-color: 				color("green", "base") !default;
$error-color: 					color("red", "base") !default;
$link-color: 						color("light-blue", "darken-1") !default;


// ----------------------------------------------------
// -- Mixins for studio
// ----------------------------------------------------

@mixin transition-studio() {
	@include transition-duration(0.2s);
	&:hover{ @include transition-duration(0.1s); }
}

@mixin transition-media() {
	@include transition-duration(0.2s);
	&:hover{ @include transition-duration(0.1s); }
}

@mixin border-studio($color:rgba(153,153,153,0.2)) {
	border-top: 1px solid transparent;// rgba($text-color-shade, 0.15);
	border-image: linear-gradient(to bottom, $color 0%, $color 100%);
	border-image: linear-gradient(to left,
	rgba(0,0,0,0) 0%,
	$color 20%,
	$color 50%,
	$color 80%,
	rgba(0,0,0,0) 100%);
	border-image-slice: 1;

}

@mixin section-illustration($url) {
	background: url($url) top fixed;
	background-size: cover;
}

/*#studio .illustration { @include section-illustration("/images/lens.jpg") }*/
#works .description .illustration { @include section-illustration("/images/spiral-film.jpg") }
#about .description .illustration { @include section-illustration("/images/film-projector.jpg") }

#nothing1 { @include section-illustration("/images/nothing1.gif") }
#nothing2 { @include section-illustration("/images/nothing2.gif") }
#nothing3 { @include section-illustration("/images/nothing3.gif") }
#nothing4 { @include section-illustration("/images/nothing4.gif") }

// ----------------------------------------------------
// -- Reset of default values
// ----------------------------------------------------

html {
	margin: 0;
	touch-action: manipulation;
	padding: 0;
	height: 100%;
	background: transparent;
	//height: 100%;
	//min-height: 100%;
	//min-width: 100%;
	font-family: 'Lato', sans-serif ;
}

body {
	display: flex;
	min-width: 260px;
  min-height: 100vh;
  flex-direction: column;
}


a, a:visited {
	color: white;
	text-decoration: none !important;
}

h2 {
	width: 100%;
	margin: 0.40em 0;
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
}

h3 {
	width: 100%;
	margin: 0.20em 0;
	font-size: 1.25em;
	font-weight: 300;
	text-align: center;

	a {color: black !important;}
}

form {
	width: 100%;
	text-align: center;
}

table {
	margin-bottom: 30px;
}
