@import "compass";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


$navbar-background: #0A0A0A;
$navbar-height: 70px;
$navbar-color: #444444;
$navbar-li-hover-color: white;
$navbar-logo-background: #921c0c;
$navbar-logo-hover-background: shade($navbar-logo-background, 20%);

$navbar-logo-height-responsive: 100px;


$height-background: 400px;
$body-background: #222222;
$text-color: #919191;





html * {
	font-family: 'Lato', sans-serif;
}