@import "compass";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/selection";

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


// ----------------------------------------------------
// -- Variables for studio
// ----------------------------------------------------

$nav-background: 				#0A0A0A;
$nav-height: 					70px;
$nav-color: 					#666666;
$nav-li-hover-color: 			white;
$nav-logo-background: 			#921c0c;
$nav-logo-hover-background: 	shade($nav-logo-background, 20%);
$nav-avatar-height-responsive: 	100px;

$height-background: 			400px;
//$body-background:				#222222;
$body-background:				white;
$text-color:					black;

$table-delimiter:				shade($body-background, 30%);

$small-item-size:				160px;
$small-item-margin:				4px;
$button-settings-height: 		30px;
$big-item-size:					240px;
$big-item-margin:  				$small-item-margin;

$cover-height:					300px;

$footer-height: 				100px;


$card-media-background:			#2ECC71;
$card-events-background:		#EB9532;
$card-types-background:			#3498DB;
$card-users-background:			#936663;
$card-uploads-background:		#333;

/*
// ----------------------------------------------------
// -- Variables of Uikit
// ----------------------------------------------------

$form-focus-background:			white;
$form-color:					black;
$form-focus-color:				black;


$button-color:					white;
$button-hover-color: 			white;
$button-active-color: 			white;

$breakpoint: 850px;*/


// ----------------------------------------------------
// -- Images of the public side
// ----------------------------------------------------

#studio .illustration {
	background: url("/images/lens.jpeg") top fixed;
	background-size: cover;
}

#works .illustration {
	background: url("/images/spiral-film.jpeg") top fixed;
	background-size: cover;
}

#about .illustration {
	background: url("/images/film-projector.jpg") top fixed;
	background-size: cover;
}

.invisible {
	visibility: hidden;
}

// ----------------------------------------------------
// -- "Nothing to show" images
// ----------------------------------------------------

#nothing1 {
	background: url("/images/nothing1.gif") top fixed;
	background-size: cover;
}

#nothing2 {
	background: url("/images/nothing2.gif") top fixed;
	background-size: cover;
}

#nothing3 {
	background: url("/images/nothing3.gif") top fixed;
	background-size: cover;
}

#nothing4 {
	background: url("/images/nothing4.gif") top fixed;
	background-size: cover;
}


.button-admin {
	position: absolute;
	display: inline-block;
	width: auto;
	height: auto;
	bottom: 20px;
	
	right: 20px;
	cursor: pointer;
	z-index: 50;
	opacity: 0.5;
	@include transition-duration(0.2s);

}

.button-admin:hover {
	opacity: 1;

	@include transition-duration(0.3s);
	.icon {
			@include transition-duration(0.2s);
			@include rotateZ(70deg);
	}

	p {
		visibility: visible;
	}
}


.button-admin .icon {
	height: $button-settings-height;
	width: $button-settings-height;
	float: right;
	z-index: 50;
	@include transform-origin(15, 15);
	background: url("/images/settings.png");
	background-size: cover;
	@include transition-duration(0.3s);
	@include rotateZ(0deg);	
}

.button-admin p {
	display: inline;
	visibility: hidden;
	background-color: transparent;
	float: left;
	line-height: $button-settings-height;
	margin-right: 10px;
	z-index: 50;
	color: white;
	padding: 0;
	
	&:before {
		display: none;
	}
}

/**
	----------------------------------
	Here, we modify default style of elements
	----------------------------------
*/

html {
	position: relative;
	min-height: 100%;
}

html *, body {
	font-family: 'Lato', sans-serif !important;
	@include selection(rgba($nav-logo-background, 0.8), white);
	//color: $text-color;
}

h2, h3 {
	width: 80%;
	color: $text-color;
	margin: auto auto;
	padding: 20px 0;
	text-align: center;
	//border-bottom: 1px solid tint($nav-color, 85%);
}

h3 {
	font-weight: 200;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	cursor: pointer;
}

a, a:hover {
	color: $nav-logo-background;
}

.container-fluid {
	padding: 0;
	background-color: $body-background; 
	margin-bottom: 2 * $footer-height;
}


// Hot fix
#about p:before {
	@include skewY(-1.5deg);
}

#container-studio {
	width: 60%;
	margin-left: 20%;
} 

form .button {
	text-align: center;	
}

table a {
	color: $nav-logo-background;
	@include transition-duration(0.2s);

	&:hover {
		@include transition-duration(0.3s);
		color: $nav-logo-hover-background;
	}
}

.form-control:focus {
	border-color: tint($nav-logo-background, 25%);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: inherit;
}

.alert {
	position: fixed;
	width: 600px;
	right: 20px;
	//bottom: $footer-height + 20px;
	top: $nav-height + 20px;
	z-index: 60;
}