@import "configuration";

.alert-warning {
	background-color: $card-events-background;
	border-color: shade($card-events-background, $value-shaden);
	color: white;
}


.alert-success {
	background-color: $card-media-background;
	border-color: shade($card-media-background, $value-shaden);
	color: white;
}


.alert-notice {
	background-color: $card-types-background;
	border-color: shade($card-types-background, $value-shaden);
	color: white;
}