@import "configuration";


form {
	width: 40%;
	margin-left: 30%;

	img {
		width: 100%;
	}
}

input, input:focus, input:active, select{ 
	outline: none;
	display: block;
}

input:-webkit-autofill, input:-webkit-autofill:focus{
	-webkit-box-shadow:0 0 0 50px white inset;   
}

input, select{
	display: block;
	width: 100%;
	font-size: 1.3em;
	padding: 10px 20px;
	text-align: center;
	border: none;
	@include box-sizing(border-box);
}

input[type="text"], select {	
	line-height: normal;
	background-color: white;
	text-align: center;

	@include transition-duration(0.2s);

	&:active, &:focus {
		@include transition-duration(0.3s);
	}
}

input[type="submit"] {
	width: 50%;
}

.wrapper {
	display: block;
	width: 80px;
	height: 43px;
	margin: 0 auto;
}

input#toggle {
	max-height: 0;
	max-width: 0;
	opacity: 0;
}

input#toggle + label {
	display: block;
	position: relative;
	box-shadow: inset 0 0 0px 1px $nav-logo-background;
	height: 40px;
	width: 80px;
	border-radius: 20px;
}

input#toggle + label:after, input#toggle + label:before {
	content: "";
	position: absolute;
	display: block;
	height: 40px;
	width: 40px;
	top: 0;
	left: 0px;
	border-radius: 20px;
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-in-out);
}

input#toggle + label:before {
	background-color: transparent;
}


input#toggle + label:after {
	background: white;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5), 0 2px 4px rgba(0, 0, 0, .5);
}

input#toggle:checked + label:before {
	width: 70px;
	background: $nav-logo-background;
}

input#toggle:checked + label:after {
	left: 40px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: $breakpoint) {

	form {
		width: 80%;
		margin-left: 10%;
	}
}