@import "configuration";


/** ----------
	NAVBAR
    ----------*/

navbar {
	background-color: $navbar-background;
	width: 100%;
	height: $navbar-height;
	display: block;
	border-bottom: 1px solid shade($navbar-background, 70%);
	
	a {
		float: left;
		height: 100%;
		line-height: $navbar-height;
		width: auto;
		padding: 0 20px;
		margin: 0;
		font-size: 1.2em;
		cursor: pointer;
		color: $navbar-color;
		@include transition-duration(0.2s);

		&:hover {
			color: $navbar-li-hover-color;
			@include transition-duration(0.3s);
		}	
	}
}


.nav-left {
	float: left;
}

.nav-right {
	float: right;
}

#navbar-logo {
	height: $navbar-height + 1px;
	background-color: $navbar-logo-background;

	&:hover {
		background-color: $navbar-logo-hover-background;
	}

	img {
			height: $navbar-height - 20px;
			margin-bottom: 5px;
		}
}


/** ----------
	PROFILE BUTTON (when you're connectede)
    ----------*/


#nav-profile {

	.nav-profile-user {
		display: inline-block;
	}


	.nav-profile-avatar {
		display: flex;
		float: left;
		height: $navbar-height - 20px;
		width: $navbar-height - 20px;
		margin: 10px 10px 0 0;

		img {
			border-radius: 50%;
  			width: auto;
  			opacity: 0.7;
  			height: auto;
		  	max-height: 100%;
  			max-width: 100%;
  			border: 2px solid $navbar-color;
			@include transition-duration(0.2s);
		}
	}
}

#nav-profile:hover {

	img {
		opacity: 1;
		border: 2px solid $navbar-logo-background;
		@include transition-duration(0.2s);
	}

}