$report-avatar-width: 	50px;

.report {
	display: flex;
	width: 100%;
	flex-direction: column;
 	align-items: center;
}

.report .profile-picture {
	display: block;
	height: $report-avatar-width;
	width: $report-avatar-width;
	margin: 0 auto;
	margin-bottom: 5px;

	img {
		height: $report-avatar-width - 4px;
		width: $report-avatar-width - 4px;
	}
}

.report .report-profile {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.report #full-name {
	text-align: center;
	font-size: 1.2em;
}

.report .message {
	font-size: 1.5em;
	font-weight: 100;
	text-align: left;
	width: 60%;
	margin: 0;
	position: relative;
	display: inline-block;
	font-family: 'Dancing Script', cursive !important;
	text-align: center;
	&:before, &:after {
		content: '"';
		position: absolute;
		text-align: center;
		top: -10px;
		color: grey;
		font-weight: 100;
		font-style: italic;
		font-size: 2em;
	}

	&:before {
		left: -30px;
	}
	&:after {
		right: -20px;
	}
}