@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "configuration";

$breakpoint: 850px;


@media screen and (max-width: $breakpoint) {

	section {
		width: 90%;
		padding: 5% 5%;
	}

	.background .title {  font-size: 3em;  }
}