@import "compass/css3/box-shadow";
@import "compass/css3/transform";
@import "configuration";

$breakpoint: 850px;


@media screen and (max-width: $breakpoint) {

	.background .title {  font-size: 3em;  }

	#studio {
		border-top: none;
	}

	.background {
		border-left: none;
		border-right: none;
	}

	#container {
		display: flex;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}

	section {
		padding: 3% 5%;
	}
}
