@import "materialize";
@import "base";
@import "grid";
@import "users";
@import "dropzone";
@import "uploads";
@import "navbar";
@import "cover";
@import "public";
@import "footer";
@import "admin";

#app nav {
	justify-content: space-between;
}

.invisible {
	display: none;
}

#root-container {
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
	padding-bottom: $footer-height;
}

.button {
	padding: 20px;
	width: auto;
	text-align: center;
	@include box-sizing(border-box);
	background: red;
	color: white;
}
