@import "materialize";
@import "base";
@import "cover";
@import "lightbox";
@import "grid";
@import "users";
@import "dropzone";
@import "uploads";
@import "navbar";
@import "public";
@import "footer";
@import "admin";

#app nav {
	justify-content: space-between;
}

#sidenav-overlay {
	z-index: 600;
}

.invisible {
	display: none;
}

#root-container, #container-media {
	padding: 0;
	position: relative;
	//padding-bottom: $footer-height;
}
#container-studio {
	padding-top: $nav-height;

	h2 {
		color: white;
		font-size: 3em;
	}
}

#root-container {
	flex: 1 0 auto;
	padding-bottom: 50px;
}

#container-media {
	padding-bottom: 0;
}

#app {
	background-color: black;
}

.chip a {
	color: inherit;
}

.overlay {
	position: absolute;
	width: 100%;
	z-index: 99;
	left: 0;
	top: 0;
	background-color: $overlay;
	height: 100%;
}

.btn {
	margin: 10px 0;
}
