.cover {
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	height: $cover-height;

	&:after {
		content: '';
		background: rgba(0,0,0,0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.illustration {
		width: 100%;
		height: $cover-height;
		object-fit: cover;
		background-color: white;
	}
}


.cover .cover-desc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	z-index: 15;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	text-align: center;
    color: white;

	.cover-name {
    	font-size: 5em;
    	font-weight: 300;
	}
	.cover-count, .cover-date {
		font-weight: 100;
		font-size: 1.5em;
	}

	.cover-date {
		font-size: 2em;
	}
}


form .cover {
	margin-bottom: 40px;
}
