.footer {
	display: inline-block;
	height: $footer-height;
	width: 60%;
	margin-left: 20%;
	@include border-studio();
	justify-content: center;
	align-items: center;
	display: flex;
	line-height: 1.3;
	font-weight: 300;
	font-size: 0.9em;

	text-align: center;
	z-index: 4;
	@include box-sizing(border-box);

	a, div {
		display: block;
		width: 100%;
		color: $text-color-shade;
		@include transition-duration(0.2s);
	}

	a {
		display: inline;
	}

	a:hover {
		color: black;
		cursor: pointer;
		@include transition-duration(0.2s);
	}
}

#heart {
	color: red;
}


@media screen and (max-width: 600px) {
	footer.footer {
		width: 100%;
		margin: 0;
		flex-direction: column;
	}
}
