$tmp: 2px;
$size: 10%;

.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	color: white;
	background-color: transparent;
	@include box-sizing(border-box);
	img { object-fit: cover; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
		100%   { opacity: 1; }
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 10%;
	height: auto;
	margin: 0;
	padding: 2px;
	//padding: 0;
	@include box-sizing(border-box);
	background-color: transparent;
	position: relative;
	img {  width: 100%;  height: 100%;  }
}

.item-overlay:after {
	@include transition-duration(0.2s);
	position: absolute;
	content: '';
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 2px;
	background: rgba(0,0,0,0.25);
}
.item-overlay:hover:after {
	@include transition-duration(0.3s);
	background: transparent;
}


.item-user {
	width: 200px;
	height: 200px;
}

.item-medium {
	animation-name: fadeIn;
	animation-duration: 3s;
}

.item-infos {
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: white;
	top: 0;
	right: 0;
	z-index: 80;
	bottom: 0;
	left: 0;
	@include transition-duration(0.2s);

	p {
		margin: 10px 0;
		line-height: normal;
	}

	.item-name {
		display: block;
		text-align: center;
		@include transition-duration(0.2s);
		font-size: 2em;
		font-weight: 300em;
	}

	.item-date {
		display: block;
		margin: 0;
		font-size: 1em;
		text-align: center;
		font-style: italic;
	}
}

@media screen and (max-width: 1000px) {
	.item {
		width: 20%;
	}
}
@media screen and (max-width: 800px) {
	.item-infos .item-name { font-size: 1.5em; }
	.item-infos .item-date { font-size: 0.7em; }
}

@media screen and (max-width: 674px) {
	.item-overlay.item-medium:after {background: transparent;}
	.item-overlay:hover:after { background: $overlay; }
	.item {width: 50%; }
}

@media screen and (max-width: 449px) {
	.item {width: 33.333%; }
	.item-medium {
		padding: 1px;
	}

	.item-user {
		width: 90px;
		height: 90px;
		margin: 2px;
	}
}
