// Place all the styles related to the Media controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.media {
	display: block;
	width: 50%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 50px;
}

#app {
	margin: 10px 0;
	width: 100%;
	display: block;


	select:nth-child(2){
		margin-bottom: 10px;
	}

	td select, th select{
		width: 90%;
		margin-left: 5%;
	}

}

.fade-enter-active, .fade-leave-active {
	transition: opacity 3s;
}

.fade-enter, .fade-leave-active {
	opacity: 0;
}