$padding-public: 		20%;
$padding-mosaic: 		15px;
$section-margin: 		80px;


.public-container {
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: $section-margin;
	display: inline-block;
}

.public-container:last-child {
	margin-bottom: 0;
}

.parallax-container {
	width: 100%;
	height: $section-height;
}

div .illustration {
  display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 100%;
  text-align: center;
  height: 100%;
	 @include box-sizing(border-box);

	 .overlay {
		 z-index: 1;
	 }

	 svg {
		 position: absolute;
		 height: 70%;
		 z-index: 10;
		 fill: white;
	 }
}


section {
	display: inline-block;
  position: relative;
  padding: 0 $padding-public;
  padding-top: 15px;
  text-align: justify;
	@include box-sizing(border-box);
	p {
		font-weight: 300;
		font-size: 1.25em;
	  line-height: 1.25em;
		margin: 0;
		float: left;
		z-index: 30;
	}

	@include box-sizing(border-box);
}

#studio {
	.description {  height: $section-height + 100px;  }

	section {  margin-top: 15px;  }

}

.mosaic {
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 0 $padding-public;
	position: relative;

	.public-container:nth-child(even) {
		flex-direction: row-reverse;

		.description {
			padding: 0;
			padding-left: $padding-mosaic;
		}

		section {
			padding: 0;
			padding-right: $padding-mosaic;
		}
	}

	.public-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	section {
		width: 50%;
		float: left;
		padding: 0;
		padding-left: $padding-mosaic;
	}

	.description {
		display: inline-block;
		width: 50%;
		padding-right: $padding-mosaic;
		@include box-sizing(border-box);
		height: auto;
		float: left;
		position: relative;
		.illustration {
			height: $section-height;
			position: relative;

			img {
				position: fixed;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		span.title {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 2;
			width: 100%;
			font-size: 5em;
			font-weight: 300;
			color: white;
			text-align: center;
			text-transform: uppercase;
			@include translateY(-50%);
		}
	}
}


.nothing {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	height: 100vh;
	&:before {
		position: absolute;
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, 0.4);
	}

	div {
		position: relative;
		width: 70%;
		margin-left: 15%;
		font-weight: 300;
		font-size: 3em;
		line-height: 1;
		color: white;
		top: 45%;
//		@include translate(0, -50%);
		text-align: center;
	}
}

@keyframes techno {
  from {
    transform: scale3d(1, 1, 1);
  }

	20% {
		transform: scale3d(1, 1, 1);
	}

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.nothing .techno {
	animation-iteration-count: infinite;
	animation-duration: 0.377358491s;
	animation-name: techno;
}

#countdown {
	overflow: hidden;
}

#countdown .nothing:before {
	background-color: rgba(0,0,0,0.8)
}

#countdown .nothing #cuming {
	font-size: 4em;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.countdown-image {
	position: fixed;
	width: 250px;
	height: auto;
}

.rotate-lol {
	animation-name: loading;
	animation: loading 2s linear 0s infinite normal;
}

.nothing iframe, .nothing .iframe-overlay {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nothing .iframe-overlay {
	background: rgba(0,0,0, 0.5);
	margin: 0;
}
@import "responsive/public";
