@import "nav";
@import "configuration";


* {
	margin: 0;
	padding: 0;
}


html {
	display: block;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	min-height: 100%;
	color: $text-color;
	background-color: $body-background;
	margin: 0;
	padding: 0;
	position: relative;
}

a, a:visited, a:hover {
	text-decoration: none;
}

a:hover {
	color: $nav-li-hover-color;
}


h2 {
	display: block;
	width: 100%;
	//background-color: black;
	color: white;
	margin: 20px 0;
	text-align: center;
}


section {
	display: inline-block;
	position: relative;
	padding: 3% 20%;
	text-align: justify;
	background-color: $body-background;
	font-size: 1.1em;
	margin: 0;
	float: left;
	z-index: 30;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		border-top: 1px solid $nav-logo-background;
		left: 0;
		right: 0;
		z-index: -2;
		@include transform-origin(0, 0);
		@include skewY(-2deg);
		background-color: $body-background;
	}
}


.background {
	display: inline-block;
	float: left;
	width: 100%;
	height: $height-background;
	position: relative;
	border-top: 1px solid $nav-logo-background;
	border-left: 1px solid $nav-logo-background;
	border-right: 1px solid $nav-logo-background;
	z-index: 3;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $nav-background;
		opacity: 0.5;
	}

	.title {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		text-align: center;
		line-height: 5em;
		font-size: 5em;
		font-weight: 300;
		color: white;
		text-transform: uppercase;

		@include translate(0, -50%);

	}
}

#studio {
	background: url("/images/lens.jpeg") top fixed;
	background-size: cover;
}

#works {
	background: url("/images/spiral-film.jpeg") top fixed;
	background-size: cover;
}

#about {
	background: url("/images/film-projector.jpg") top fixed;
	background-size: cover;
}

#container {
	display: inline-block;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-left: 10%;padding-bottom: 210px;

	a {
		color: $nav-li-hover-color;
	}
}

.thumbnail {
	float: left;
	width: 25%;
	margin: 1px;
	box-sizing: border-box;
}

footer {
	position: absolute;
	display: block;
	height: 200px;
	background-color: $nav-background;
	line-height: 200px;
	color: $nav-color;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;

	p {
		margin: 0;
	}
}

table {
	width: 100%;
	text-align: center;
	/*td {
		text-align: center;
	}*/
}

.button {
	font-size: 1.2em;
	padding: 10px 20px;
	color: white;
	background-color: $nav-logo-background;
	text-align: center;
	@include transition-duration(0.2s);

	&:hover {
		background-color: $nav-logo-hover-background;
		@include transition-duration(0.3s);
	}
}


table {
	margin: 10px 0 20px 0;
}


@import "responsive";