- users.each do |user|
  = link_to edit_admin_user_path(user), :class => 'item item-user' do
    = image_tag(picture_profile user)
    %div.item-overlay
      %div.item-infos
        %p.item-name
          = full_name(user)