%section.section-admin

  = form_for @report, :url => report_medium_path do |f|

    %div.input-field
      Suite à un report, le média concerné ne sera plus accessible sur le site web. Les admins se chargeront de traiter votre demande de report. S'ils jugent que le report n'est pas justifié, le média sera de nouveau disponible !

    %div.input-field
      = label_tag '', 'Message du report:', :for => 'report_message'
      = f.text_area :message, class: 'materialize-textarea'

    %button.btn.waves-effect.waves-light{type: 'submit',  data: { confirm: 'Voulez vous report ce média (le média ne sera plus disponible sur le site) ?'}}
      Signaler
      %i.material-icons.right
