= form_for @report do |f|

  %div.form-group
    = label_tag 'Message du report:'
    = f.text_field :message, class: 'form-control' 

  %div.form-group
    = f.submit submit_button_value(@report), class: 'button'
