%div.descriptions
  %div.description#studio
    %div.illustration
      %div.title
        Le club Studio
    %p
      Vous qui entrez en ce site, abandonnez tout espoir. Vous voici dans l'antre des joyeux lurons du club Studio de Télécom Nancy, responsables notamment de la couverture photographique
      des évènements et de la promotion de ces derniers via affiches. Amateurs de finesse et de bon goût, je vous invite à fermer l'onglet. Les autres, les gens cool, mettez vous à l'aise.
      Vous découvrirez ici les créations graphiques du plus illustre des clubs du Ceten, nouvelles comme anciennes.


  %div.description.description-mosaic#works
    %div.illustration
      %div.title
        Réalisations
    %p
      De la photo compromettante de vous à la dernière soirée (vous saviez que vous n'auriez pas dû boire ce verre) aux affiches réalisées par le club (communication/humour/zizi...), tout le contenu
      produit par le club ou presque, pour votre plus grand plaisir.

      Nous recommandons tout de même aux âmes sensibles de s'abstenir, sait-on jamais.


  %div.description.description-mosaic#about
    %div.illustration
      %div.title
        À propos
    %p
      Mais qui sont-ils? D'où viennent-ils? Que font-ils? Et grands dieux mais que prennent-ils pour réussir à le faire?
      Faites ici connaissance avec la grande famille Studio. Ils font parfois peur mais promis : ce sont des agneaux. Tant qu'on ne touche pas à leur bière, en tout cas.
